@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-Regular.woff') format('woff');
  }

:root {
    --dark-col: #313131;
    --darker-col: #000000;
    --text-col: #ffffff;
}

body {
    color: var(--text-col);
    background-color: var(--darker-col);
    font-family: 'Fira Code';
}

.navbar {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}

.navbar > li {
    display: inline;
    font-size: 20px;
}

.navbar li a {
    color: var(--text-col);
    text-decoration: none;
    transition: all 0.2s;
    display: inline-block;
}

.navbar li a:hover {
    transform: translate(2px, -2px);
    text-shadow: -2px 2px #1cb7a0;
}

.center-div {
    text-align: center;
}

.header {
    font-family: 'Fira Code', monospace;
}

.myn {
    font-family: 'Fira Code';
    color: #1cb7a0;
    display: inline-block;
}

.myn > span {
    animation: curblink 1s step-end infinite;
    font-size: 20px;
}

@keyframes curblink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about-me {
    font-family: 'Fira Code';
    font-size: 1.25em;
    margin-left: 30vw;
    margin-right: 30vw;    
}

.pfp {
    max-height: 200px;
    border-radius: 50%;
    outline: solid #1cb7a0;
    outline-offset: 5px;
}

@media screen and (max-width: 768px) {
    .about-me {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}