@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&family=Fira+Code:wght@300&display=swap');

:root {
    --dark-col: #0d0d0d;
    --darker-col: #000000;
    --text-col: #ffffff;
}

body {
    color: var(--text-col);
    background-color: var(--dark-col);
}

.center-div {
    text-align: center;
}

.header {
    font-family: 'Fira Code', monospace;
}

.about-me {
    font-family: 'Fira Code';
    font-size: 1.25em;
    margin-left: 15vw;
    margin-right: 15vw;    
}

.pfp {
    max-height: 200px;
    border-radius: 50%;
    outline: solid #1cb7a0;
    outline-offset: 5px;
}